html,
body {
    height: 100%;
}

.backgroundimage {
    background-image: url(https://images.unsplash.com/photo-1484503566934-9c106112488a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

.bg-img {
    position: absolute;
    background-size: cover;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.container {
    min-height: 100%;
}

.overlay-gradient {
    background-image: linear-gradient(to right bottom, rgba(10, 10, 10, 0.712), rgba(238, 234, 245, 0.3));
    background-size: cover;
    background-position: center;
    height: 100%;
}

.nav-item {
    background: rgb(200, 200, 200);
    padding: 10px;
    text-align: center;
}

.profile-section {
    padding-top: 25vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}

.profile-pic {
    width: 200px;
    border-radius: 20%;
    border: 5px solid rgb(190, 188, 188);
    margin: 0 20px 0 auto;
}

.profile-section h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
}

.profile-section h2 {
    font-family: 'Baloo Tammudu 2', cursive;
}