html,
body {
    height: 100%;
}

.backgroundimage {
    background-image: url(https://images.unsplash.com/photo-1484503566934-9c106112488a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
    background-size: cover;
    background-position: center;
    height: 100%;
}

.bg-img {
    position: absolute;
    background-size: cover;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.overlay-gradient {
    background-image: linear-gradient(to right bottom, rgba(10, 10, 10, 0.712), rgba(238, 234, 245, 0.3));
    background-size: cover;
    background-position: center;
    height: 100%;
}

.toptobottom {
    height: 100%;
}


/* body {
    height: 100%;
}

h1 {
    color: blue;
    height: 100%;
}

#firstsection {
    background: url(https://images.unsplash.com/photo-1484503566934-9c106112488a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
    background-size: cover;
    /* height: 100%; */